#start {
    //margin-left: 100px;
    //margin-left: 15px;
    //margin-right: 15px;
    flex: 1;
}
#projects {
    //margin-left: 15px;
    //margin-right: 15px;
    flex: 1;
}
#team {
    //margin-left: 15px;
    //margin-right: 15px;
    flex: 1;
}
#contact {
    //margin-left: 15px;
    //margin-right: 15px;
    flex: 1;
}

.menu {
    margin-left: 1em;
    margin-right: 1em;
}